.CTA {
    display: flex;
    height: 319px;
    align-items: center;
    gap: 144px;
    padding: 0px 60px;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    min-width: 1440px;
}

.CTA .best-offer {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    position: relative;
    width: 315px;
    margin-left: 10px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 48px;
    letter-spacing: 0px;
    line-height: 52.8px;
}

.CTA .text-wrapper {
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 48px;
    letter-spacing: -1.44px;
    line-height: 52.8px;
}

.CTA .span {
    color: #111010;
}

.CTA .line {
    position: relative;
    width: 1px;
    height: 319px;
}

.CTA .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
    position: relative;
    flex: 0 0 auto;
}

.CTA .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.CTA .p {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Oswald-SemiBold", Helvetica;
    font-weight: 600;
    color: #111010;
    font-size: 48px;
    letter-spacing: -1.44px;
    line-height: 52.8px;
}

.CTA .everything-has-been {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 18px;
    letter-spacing: -0.54px;
    line-height: 25.2px;
}

.CTA .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.CTA .frame-3 {
    display: flex;
    width: 434px;
    align-items: flex-end;
    gap: 7px;
    padding: 16px 280px 16px 16px;
    position: relative;
    background-color: #1110100a;
}

.CTA .mail {
    position: relative;
    width: 24px;
    height: 24px;
}

.CTA .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-right: -65px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 22.4px;
    white-space: nowrap;
}

.CTA .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 32px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
    background-color: #111010;
    all: unset;
    box-sizing: border-box;
}

.CTA .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 22.4px;
    white-space: nowrap;
}

